
<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit(formElement)" #formElement="ngForm">
    <div class="row">
      <div class="input-field col s6">
        <label for="originalPrice1">Original Price</label>
        <input id="originalPrice1" type="text" autocomplete="off"
               (ngModel)="model.originalPrice" name="originalPrice1">
      </div>
      <div class="input-field col s6">
        <label for="percent">Percent</label>
        <input id="percent" type="text" autocomplete="off"
               (ngModel)="model.percent" name="percent">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="budgetPrice">Budget Price</label>
        <input id="budgetPrice" type="text" autocomplete="off"
               (ngModel)="model.budgetPrice" name="budgetPrice">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="originalPrice2">Original Price</label>
        <input id="originalPrice2" type="text" autocomplete="off"
               (ngModel)="model.originalPrice" name="originalPrice2">
      </div>
      <div class="input-field col s6">
        <label for="reducedPrice">Reduced Price</label>
        <input id="reducedPrice" type="text" autocomplete="off"
               (ngModel)="model.reducedPrice" name="reducedPrice">
      </div>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Save!</button>
  </form>
  {{ model | json }}
</div>

